
.navbar{
  background-color: aqua !important;
}

.navbar-brand{
  color: skyblue !important;
  font-size: 1.5rem !important;
}

.navbar a:hover{
  color: skyblue !important;
}

.menu_active {
  font-weight: bold !important;
  border-bottom: 1px solid black !important;
}

.btn-get-started{
  border-radius: 2rem;
  padding: 0.40rem 1rem; 
  border: 2px solid skyblue;
  text-decoration: none;
  color: skyblue;
  transition: 0.5s;
}

.btn-get-started:hover{
  background-color: skyblue;
  color: white;
  border: 2px solid black;
}

.imghome{
  border: 3px solid black;
  border-radius: 50%;
  float: right;
  height: 612px;
  width: 612px;
  image-rendering: pixelated;
}

.bname{
  color: skyblue;
}